{% extends 'base.html' %}
{% block menu %}

{% endblock %}
{% block content %}
    <a href="{% url 'order_food_create' order.pk%}">Добавить блюдо в заказ</a>
    <p>Контактное имя: {{ order.contact_name }}</p>
    <p>Контактный телефон: {{ order.contact_phone }}</p>
    <p>Адрес доставки: {{ order.delivery_adress }}</p>
    <p>Статус: {{ order.status }}</p>
    <p>Оператор: {{ order.operator }}</p>
    <p>Курьер: {{ order.courier }}</p>
    <h5>Блюдо: {{ order.foods.pk }}</h5>
{% for food in order.foods.all %}
    <p>{{ food.food.name }} - {{ food.amount }} шт.</p>
{% endfor %}
{% endblock %}