{% extends 'base.html' %}
{% block menu %}
    <li class="nav-item">
        <a href="#" class="nav-link">Список пользователей</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'food_create' %}" class="nav-link">Добавить блюдо</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'food_list' %}" class="nav-link">Список блюд</a>
    </li>
{% endblock %}
{% block content %}
    <h1>Список заказов</h1>
    {% for order in order_list %}
        <p><a href="{% url 'order_detail' order.pk %}">Адрес: {{ order.delivery_adress }}. Телефон: {{ order.contact_phone }}</a><a href="{% url 'order_update' order.pk %}"> Изменить</a></p>
    {% endfor %}
    <h4><a href="{% url 'order_create' %}">Добавить заказ</a></h4>
{% endblock %}